*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --green: #59C378;
    --darkgreen: #479d61e1;
    --darkergreen: #52b36d4f;
    --dark: #1E1E1E;
    --lightdark: #383838;
    --lightgrey: #dfd9d9;
    --yellow: #c6931b;
    --yellowdark: #cd981e98;
    --yellowdarker: #9d751664;
}

body{
    position: relative;
}

