/* Color Theme Swatches in Hex */
.feeling-blue-1-hex { color: #3D5A73; }
.feeling-blue-2-hex { color: #2F3D40; }
.feeling-blue-3-hex { color: #455559; }
.feeling-blue-4-hex { color: #28403D; }
.feeling-blue-5-hex { color: #182625; }

main{
    margin-top: 80px;
}

.presentation-container{
    width: 100%;
    height: calc(100vh - 80px);
    background: #f3f3f3;
    /* background: #f8f8f8; */


    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation-content{
    position: relative;
    width: 64em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.presentation-container .name{
    color: #1E293B;
    font-size: 5em;
    font-weight: 800;
    line-height: 0.85;
    margin: 0 0 20px 0;
}

.presentation-container .profession-name{
    color: var(--green);
    font-size: 1.9em;
    font-weight: 600;
    text-align: justify;
}

.presentation-content p{
    color: #7F7F87;
    margin-top: 0.7em;
}

.social-btn-container{
    height: 4em;
    width: 19.5em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 1em;
}

.button-content{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.btn{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background: #f0f0f0;
    color: var(--lightdark);
    border: 1px solid #c6c6c6;
    width: 144px;
    height: 41.6px;
    font-size: 15px;
    border-radius: 40px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.4s ease
}

.btn-gitHub:hover, .btn-linkedin:hover{
    background: #F9FAFB;
    color: var(--darkgreen);
}


